name: Deploy Kawerk Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Publish backend
        run: |
          dotnet restore
          dotnet publish -c Release -o Kawerk-Prod

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            rm -r /root/Kawerk-Backend/Kawerk-Prod
            cp -r Kawerk-Prod /root/Kawerk-Backend/
            sudo systemctl restart kawerk
